*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --fonte-app: font-family: 'Roboto', sans-serif;
    --color-primary: #004261;
    --color-letter: #ffffff;
    --color-bg: #0076AD;
}

body{
    background-color: #004261;
    width: 100%;
    height: 100%;
    color: var(--color-letter);
    font-family: var(--fonte-app);
}

h1{
    font-size: 3.6rem;
}

.wrapper{
    max-width: 50%;
    margin: 10rem auto;
}

form{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #0076ad3a;
    border-radius: 2rem;
}

form h1{
    text-align: left;
}

form .container{
    width: 70%;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: .4rem;
}

form label{
    font-size: 2.2rem;
}

form input, button{
    width: 100%;
    height: 3.6rem;
    background-color: #0085c36e;
    color: var(--color-letter);
    border: none;
    border-radius: 0.5rem;
    padding: 0 2rem;
    cursor: pointer;
}
form .input-radio{
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form .radio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    
}

form input[type="radio"]{
    width: 1.5rem;
}

form input::placeholder{
    color: #759bad;
}

form button{
    width: 50%;
    background-color: #1c85b97a;
    font-size: 1.6rem;
    font-weight: 700;
}

form button:hover{
    cursor: pointer;
    background-color: #0092d6;
}





